﻿@model TaskManagement.MVC.Models.TaskListViewModel
<div class="TaskManagement">
    <input type="button" value="Add New +" class="btn btn-primary" style="margin-bottom:10px;float:right;" onclick="AddNew()" />
    <table class="table" id="TasksTable">
        <thead>
            <tr>
                <th>Task name</th>
                <th>Is Done</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" value="" id="TaskName" placeholder="Task Name" /></td>
                <td><input type="checkbox" id="IsDone" value="" /></td>
                <td><a href="javascript:void(0)" class="glyphicon glyphicon-floppy-disk" id="SubmitTask" value="Save" onclick="SaveRowToDatabase()"></a></td>
            </tr>
            @foreach (var task in Model.TaskList)
            {
                <tr id="Task@(task.Id)">
                    <td><span class="Name">@task.Name</span></td>
                    <td>
                        @{
                            var IsChecked = (task.IsDone) ? "checked" : "";
                        }
                        <input type="checkbox" class="IsDone" disabled @IsChecked />
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="glyphicon glyphicon-edit" onclick="UpdateRow(@task.Id)"></a> &nbsp;
                        <a href="javascript:void(0)" class="glyphicon glyphicon-trash" value="Delete" onclick="DeleteRow(@task.Id)"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function SaveRowToDatabase(id) {
        if (Valid()) {
            var form = {};
            form.Id = id;
            form.Name = $('#TaskName').val();
            form.IsDone = $('#IsDone').prop('checked');
            $.ajax({
                type: "POST",
                url: "/TaskList/SaveTask",
                data: form,
                success: function (data) {
                    var checked = (data.IsDone) ? "checked" : "";
                    var html = "<td><span class='Name'> " + data.Name + "</span></td><td><input type='checkbox' class='IsDone' disabled " + checked + "/></td>";
                    html += '<td><a href="javascript:void(0)" class="glyphicon glyphicon-edit"  onclick="UpdateRow(' + data.id + ')"></a> &nbsp;';
                    html += '<a href="javascript:void(0)" class="glyphicon glyphicon-trash" value="Delete" onclick="DeleteRow(' + data.id + ')"></a></td>';
                    if (id == 0 || id == undefined) {
                        html = '<tr id="Task' + data.id + '">' + html + '</tr>';
                        console.log(html)
                        $('#TasksTable tbody').append(html);
                    }
                    else {
                        $('#TasksTable').find('#Task' + id).html(html);
                    }
                    AddNew();
                    DisplayAlert();
                }

            });
        }
    }
    function UpdateRow(id) {
        var name = $('#TasksTable #Task' + id).find('.Name').html();
        var done = $('#TasksTable #Task' + id).find('.IsDone').prop('checked');
        $('#TasksTable #TaskName').val(name);
        $('#TasksTable #IsDone').prop('checked', done);
        $('#TasksTable #SubmitTask').attr("onclick", "SaveRowToDatabase(" + id + ")");
    }
    function DeleteRow(id) {
        if (confirm('Are you sure you want to remove this task?')) {
            $.ajax({
                type: "POST",
                url: "/TaskList/DeleteTask",
                data: { id: id },
                success: function (data) {
                    $('#TasksTable').find('#task' + id).remove();
                    DisplayAlert();
                }
            });
        }
    }
    function DisplayAlert() {
        $('.TaskManagement .alert').remove();
        $('.TaskManagement').append('<div class="alert alert-success">Saved</div>');
        setTimeout(
            function () {
                $('.TaskManagement .alert-success').remove();
            }, 2000);
    }

    function AddNew() {
        $('#TaskName').val('');
        $('#IsDone').prop('checked', false);
        $('#TasksTable #SubmitTask').attr("onclick", "SaveRowToDatabase()");
    }
    function Valid() {
        if ($('#TaskName').val() == undefined || $('#TaskName').val() == "") {
            if (!$('.TaskManagement .alert-danger').length) {
                $('.TaskManagement .alert').remove();
                $('.TaskManagement').append('<div class="alert alert-danger">Task name is required</div>');
                setTimeout(
                    function () {
                        $('.TaskManagement .alert-danger').remove();
                    }, 2000);
            }
            return false;
        }
        return true;
    }
</script>